@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: #faf9f5;
  @apply text-neutral-700;
}

a {
  @apply text-primary-700 hover:text-primary-800;
}

